* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5rem 0 5rem;
}

.header-section .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;

    & .logo-png svg {
        width: 3rem;
        /* Set a specific width */
        height: 3rem;
        /* Set a specific height */
        color: #2A7B4C;
    }

    & h1 {
        font-size: 2rem;
    }
}

.header-section .info-navbar {

    /* display: flex; */
    & ul {
        display: flex;
        list-style: none;
        gap: 2rem;

    }

    & a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 500;
        color: #000;
    }
}

.header-section .header-icon {
    display: flex;
    gap: 2rem;

    & svg {
        width: 2rem;
        height: 2rem;

    }

    .Search-item,
    .Shopping-cart,
    .Conatct-us {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2A7B4C;
        padding: .5rem .5rem .5rem .5rem;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
        color: #fff;
        /* border: 2px solid #2A7B4C; */
        font-size: 2rem;
    }

    .Search-item:hover,
    .Shopping-cart:hover,
    .Conatct-us:hover{
    border: 2px solid #2A7B4C;
    background-color: #fff;
    color: #000;
    }
}